.register__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register__container {
    width: 500px;
    height: 655px;
    border: 2px solid black;

}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register__header {
    background-color: #1D1D1D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C53720;
}

.register__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;

}



.register__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    margin: 16px 0 8px 0;
}

.register__input {
    border: 4px solid #1D1D1D;
    display: flex;
    align-items: center;
    width: 420px;
    height: 30px;
    color: black;
    outline: none;
}
.register__span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 5px;
}

.register__btn {
    width: 116px;
    height: 40px;
    border: 4px solid #C53720;
    background: none;
    margin: 40px 0 15px 0;
    color: #C53720;
    cursor: pointer;
}

.question {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1D1D1D;
}

.auth__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #C53720;
    cursor: pointer;

}

.question__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}