.main {
    background: #EDEDED;
    height: 1024px;
}

.cont {
    width: 1048px;
    margin: 0 auto;
}

.main h1 {
    color: #1D1D1D;
    font-size: 36px;
    padding: 80px 0 40px 0
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #fff;
    border: 4px solid #A5A5A5;
    padding: 60px 40px;
}

.item:not(:first-child) {
    border-top: none;
}


/* .item article{
} */

.item article {
    display: flex;
    align-items: center;
    height: inherit;
}

.item img {
    aspect-ratio: 134 / 118;
    height: 100%;
}

.item .info {
    margin-left: 39px;
}

.item h4 {
    color: #C53720;
    font-size: 20px;
    margin-bottom: 24px;
}

.item .info span{
    padding: 12px 18px;
    color: #fff;
}

.inStock {
    background-color: #3CC051;
}

.notInStock {
    background-color: red;
}

.actualPrice {
    font-size: 32px;
    color: #1D1D1D;
    font-weight: 700;
}

.price {
    text-decoration: line-through;
    font-size: 20px;
    color: #A5A5A5;
}

.quantityButtons {
    display: flex;
}

.quantityButtons button {
    background: transparent;
    width: 40px;
    height: 40px;
    border: 4px solid #A5A5A5;
    padding: 0;
    cursor: pointer;
}

.quantityButtons p{
    margin: 0;
    background: transparent;
    border-top: 4px solid #A5A5A5;
    border-bottom: 4px solid #A5A5A5;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sumSection{
    height: 20px;
}

.sumSection button{
    color: #C53720;
    border: 4px solid #C53720;
    padding: 8px 20px;
    background: transparent;
}

.sumSection aside{
    display: flex;
    align-items: center;
}

.sumSection p {
    font-size: 20px;
    color: #A5A5A5;
    margin-right: 40px;
}

.sumSection h4{
    font-size: 32px;
    color: #1D1D1D;
}