.notFound__wrapper {
    width: 1640px;
    height: 920px;
    background-image: url(../../assets/images/404-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.notFound__img {
    width: 260px;
    height: 98px;
    margin-top: 154px;
    margin-left: calc(50% - 260px/2 - 433px);
}

.notFound__title {
    width: 344px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-left: calc(50% - 260px/2 - 433px);
    margin-top: 52px;
}

.notFound__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    width: 608px;
    margin-left: calc(50% - 260px/2 - 433px);
    margin-top: 44px;
}


.notFound__link {
    width: 216px;
    height: 52px;
    border: 4px solid #C53720;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: calc(50% - 260px/2 - 433px);
    margin-top: 52px;

}